@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
  }
  .introimg {
    background-image: url("./assets/padel-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .login-img-container {
    background-image: url("./assets/padel-background-3.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .register-img-container {
    background-image: url("./assets/padel-background-2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .profile-img-container {
    box-shadow: rgba(0, 0, 0, 0.2) -1px 1px 3px inset;
  }
}
